.HeroContainer {border: 2px solid red; width: calc(100% - 50px); height: 500px;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2F80ED, #56CCF2, white);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2F80ED, #56CCF2, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 25px;

}

h1 {color: white; text-align: center; padding-top: 50px;}

.HeroRow {display: flex; align-items: center; justify-content: space-evenly;}
