.HeroContainer { width: calc(100% - 50px); min-height: 250px;
    background: #56CCF2;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #2F80ED, #56CCF2, white);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #2F80ED, #56CCF2, white); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding: 25px;

}

h1 {color: white; text-align: center; padding-top: 50px;}

.HeroRow {display: flex; align-items: center; justify-content: space-evenly;}

.Hero-new-items-container {margin: 5px; display: flex; background: lightgray; border-radius: 15px; padding: 25px;}
#Hero-new-items {display: flex; overflow-x: scroll; width: 95%;}

.Hero-new-items-item {margin-right: 10px;}
#scroll-button {margin-right: 0px;}

.Hero-trade-tables {width: 100vw; background: blue; position: fixed; bottom: 0; padding: 25px;left: 0;}