/* DOCK  */

.dock-container { background-color: var(--dock-purple);  width: 100%; position: fixed; z-index: 200; bottom: 0; left: 0; border: 3px solid var(--border-purple); border-bottom: 0px;}

.dock-avatar {border-radius: 8px; border: 3px solid var(--border-purple); background: var(--avatar-yellow); padding: 5px;}
.dock-items {width: calc(100vw - 250px); height: 150px; border: 3px solid var(--border-purple); border-bottom: none; background-color: var(--dock-gold); border-top-left-radius: 8px;}
.dock-section { height: 135px; width: 135px; border-radius: 8px;  margin: 5px; border: 3px inset var(--avatar-yellow); }
.dock-nav {width: 100%; overflow-x: scroll; overflow-y: hidden; background: var(--dock-gold); border: 3px solid var(--border-purple); border-radius: 8px 8px 0px 0px; height: 65px; margin: 5px 5px 0px 5px; border-bottom: 0px; padding: 5px;}
.dock-nav-button {border: 2px solid var(--dock-border-orange); background-color: var(--dock-gold); height: 60px; width: 85px; margin: 0px 2px; border-radius: 6px;  }
.dock-nav-button:hover {background-color: var(--to-do-gold);}
.dock-nav-button .icon {margin: -10px 0px 10px;}
.things-to-do-button {border: 3px solid var(--border-purple); background: var(--dock-purple);  padding: 3px 25px; font-size: 18px; font-weight: 700; color: white; max-width: 150px; border-bottom: unset; border-right: unset; border-radius: 8px 0px 0px 0px}
.logout-btn {height: 30px; margin-right: -10px;  background-image: url('../assets/logout.png'); width: 100px; background-size: 100% 100%; background-repeat: no-repeat;}
.logout-option {padding: 0px; margin: 3px 0px 0px 35px;}
.tucked-dock {display: none;}
.expanded-dock {display: block;}
.logout-overlay {z-index: 2;}

.user-avatar {border: 2px solid var(--border-purple); border-radius: 8px; height: 57px; width: 50px;  background-size: contain; background-image: url('../assets/blank-profile.png');}
.bigger-user-avatar {border: 2px solid var(--border-purple); border-radius: 8px; height: 80px; width: 80px;  background-size: contain; background-image: url('../assets/blank-profile.png');}
.user-avatar img {width: 100%; height: 100%; border-radius: 7px;}
.profile-stats {min-width: 50px;}
.profile-stats p {line-height: 16px; padding: 0px; margin: 5px; font-size: 12px;}

#thingsToDoMenuWrapper { width: 400px; position: fixed; right: 0; bottom: 77.5px;}
#thingsToDoMenu {width: 100%; border: 3px solid var(--border-purple); border-bottom: 0px;  border-radius: 8px 0px 0px 0px; padding: 8px 5px 10px 5px;  background-color: var(--dock-purple)}
.things-to-do-column {background: var(--dock-gold); border-radius: 8px; padding: 10px; width: 100%; border: 2px solid #A7315E}
.thing-to-do-title {font-weight: 700; font-size: 20px;}
.thing-to-do {padding: 5px;  border-radius: 8px;  background-color: #FCD900; border-top: 3px solid var(--avatar-yellow); border-left: 3px solid var(--avatar-yellow); border-bottom: 3px solid var(--to-do-gold); border-right: 3px solid var(--to-do-gold)}
.thing-to-do:hover {cursor: pointer; background: var(--to-do-gold); border-top: 3px solid var(--to-do-gold); border-left: 3px solid var(--to-do-gold);}
.icon {height: 20px; margin-right: 5px;}

.top-things-to-do {margin-bottom: -3px; z-index: 2; }

#indicatorWindow {position: fixed; bottom: 80px; left: 10; border-radius: 8px; pointer-events: none; }
.temp-message {padding: 10px; background: white; border: 3px solid var(--off-white); font-size: 12px; border-radius: 8px;}

button {background: #3387EC; padding: 5px; color: white; border-radius: 5px;}
/* Header */

/* User Profile Setup */
.settings-container {padding: 10px; margin: 25px 0px; max-width: 50vw; border-radius: 8px; border: 3px solid gray; background: var(--off-white)}

/* ItemCard */
.Item {background: white; margin: 10px;  width: 140px; border: 1px solid gray; border-radius: 5px; text-align: center;}
.item-options {height: 40px; width: 40px; border-radius: 4px 0px 0px 0px; background-image: url('../assets/corner_1.png'); background-size: cover;}
.options-dropdown {border: 1px solid black; position: absolute; padding: 2px;  margin: 10px 0px 0px 15px; width: 120px; border-radius: 0px 4px 4px 4px; background-color: #e2e2e2;}
.item-status {padding: 2px; }
.item-wrapper {padding: 10px 5px;}
.Item-image {height: 100px;}
.Item-title {font-size: 12px; line-height: 14px; text-align: center; margin: 10px; color: black; text-decoration: none;}

.Item-type {line-height: 10px; margin: 0; padding: 0; color: gray;}
.status span {display: none}
.status:hover span {display: block}
.item-category {background: var(--off-white); padding: 2px 4px; border-radius: 6px; margin: 0px 5px; }
.item-card-buttons button {font-size: 12px; padding: 2px 5px; margin: 1px;}

.for-sale {border: 2px solid red;}

/* Checkbox Switch Styling */
/* StoreSetup.css */

.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 34px;
  }
  
  .slider:before {
    position: absolute;
    content: '';
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    border-radius: 50%;
  }
  
  input:checked + .slider {
    background-color: #2196f3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196f3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  


/* All Items */
.all-items-wrapper { border: 1px solid var(--border-purple); border-radius: 8px 0px 0px 8px; background: var(--dock-purple);  padding: 5px;}
.item-filters-container {margin-right: 5px; padding: 0px 10px; min-width: 250px;}
.item-filters-list {border-radius: 6px 6px 0px 0px; background: var(--off-white); padding: 5px 0px; max-width: 250px;}
.items-list {width: calc(100% - 317px); background: var(--off-white); border-radius: 0px 6px 6px 0px; margin-right: 10px; padding: 10px; height: 60vh; overflow-y: scroll;}
.in-collection-indicator p {display: none;}